.vscode/
.vsccode/
.vs/
build/
enc_temp_folder/
/out/
/build_vs
/build_x64
/build_*
/coverage/report/
/coverage/Modules/
/coverage/third-party/
/coverage/index.html

# IDE / 个人配置
CMakeSettings.json
Folder.DotSettings
.idea/
